//<reset-style>===========================================
@import "_reset.scss";
//<reset-style>===========================================

//<FONTS>===========================================
//<ENABLE FONTS>===========================================
//</ENABLE FONTS>===========================================
//<DEFAULT FONT>===========================================
$fontfamily: "";
//</DEFAULT FONT>===========================================
//</FONTS>===========================================

//<VARIABLES>===========================================
/*$minwidth: 320px;
$mw1: 1170px;
$md1: $mw1 + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;*/
//</VARIABLES>===========================================
